{% extends 'layout.html' %}


{% block body %}

    <h2>About Minimal Market</h2>
    <img src="\static\about.png" alt = "Tanner and Alex" width="250" height="200" style="float:center">
    
    <p class="lead">Hello! We're Tanner and Alex, and we founded Minimal Market LLC.</p>

    <h2>Let's Connect!</h2>

    <p class="lead"><a href="https://github.com/adsuttonn" target="_blank" >https://github.com/adsuttonn</a></p>

    <p class="lead"><a href="https://mail.google.com/mail/u/0/?ogbl#inbox?compose=GTvVlcSHvbPNsglTcZXFgRvnwlhXrFQjBSHsKkXqCPSjDtCQCSltDVqFBJsgpFHhkfRHSkWlRQlSC" target="_blank" >adsuttonn@gmail.com</a></p>

        
    <div> tbjuedeman@gmail.com</div>
    

{% endblock %}