{% extends 'layout.html' %}

{% block body %}
    <h1>Minimal Market Finances</h1>

<head>
<style>
table.GeneratedTable {
  width: 100%;
  background-color: #ffffff;
  border-collapse: collapse;
  border-width: 2px;
  border-color: #E1AD01;
  border-style: solid;
  color: #000000;
}

table.GeneratedTable td, table.GeneratedTable th {
  border-width: 2px;
  border-color: #E1AD01;
  border-style: solid;
  padding: 3px;
}

table.GeneratedTable thead {
  background-color: #E1AD01;
}
</style>
</head>

<body>
<table class="GeneratedTable">
  <thead>
    <tr>
      <th>Date</th>
      <th>Item</th>
      <th>Quantity</th>
      <th>Manufacturer</th>
      <th>Cost</th>
      <th>Paid</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Date</td>
      <td>Caldera XL Kiln</td>
      <td>1</td>
      <td>Paragon</td>
      <td>$1800.00</td>
      <td>Monthly Plan</td>
    </tr>
    <tr>
      <td>11/19/2022</td>
      <td><a href="https://kruegerpottery.com/collections/all/products/white-bear?variant=39333212815423" &nbsp;</a>Whitebear Cone 6 Clay</td>
      <td>10 boxes</td>
      <td>KyMudworks</td>
      <td>$232.50</td>
      <td>Yes</td>
    </tr>
    <tr>
      <td>11/19/2022</td>
      <td><a href="https://kruegerpottery.com/collections/all/products/plaster-no-1-pottery?variant=12279764123711" &nbsp;</a>No. 1 Pottery Plaster</td>
      <td>1 bag</td>
      <td>USG</td>
      <td>$5.50</td>
      <td>Yes</td>
    </tr>
    <tr>
      <td>11/19/2022</td>
      <td><a href="https://kruegerpottery.com/collections/all/products/plaster-hydrocal-white?variant=39741843701823" &nbsp;</a>Hydrocal</td>
      <td>1 bag</td>
      <td>USG</td>
      <td>$34.00</td>
      <td>Yes</td>
    </tr>
    <tr>
      <td>Date</td>
      <td>Glaze</td>
      <td>Quantity</td>
      <td>Manufacturer</td>
      <td>Cost</td>
      <td>Paid</td>
    </tr>
    <tr>
      <td>Date</td>
      <td>Glaze</td>
      <td>Quantity</td>
      <td>Manufacturer</td>
      <td>Cost</td>
      <td>Paid</td>
    </tr>
    <tr>
      <td>Date</td>
      <td>Glaze</td>
      <td>Quantity</td>
      <td>Manufacturer</td>
      <td>Cost</td>
      <td>Paid</td>
    </tr>
    <tr>
      <td>Date</td>
      <td>Glaze</td>
      <td>Quantity</td>
      <td>Manufacturer</td>
      <td>Cost</td>
      <td>Paid</td>
    </tr>
    <tr>
      <td>Date</td>
      <td>Tools</td>
      <td>Quantity</td>
      <td>Manufacturer</td>
      <td>Cost</td>
      <td>Paid</td>
    </tr>
  </tbody>
</table>
</body>

{% endblock %}
