{% extends 'layout.html' %}

{% block body %}
<div class="jumbotron">
    <h1 class="display-4">Minimal Market</h1>
 <!--   <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
    <p>Title: {{ app_data['html_title'] }}</p>
-->
    <hr class="my-4">
    <p>A small business home to pottery, macrame, and plants.</p>
    <a class="btn btn-primary btn-lg" href="/contact" role="button">Contact</a>
  </div>
{% endblock %}
